<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VioletPixiv.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VioletPixiv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VioletPixiv.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VioletPixiv.default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <applicationSettings>
        <VioletPixiv.Settings1>
            <setting name="account" serializeAs="String">
                <value />
            </setting>
            <setting name="passwd" serializeAs="String">
                <value />
            </setting>
        </VioletPixiv.Settings1>
    </applicationSettings>
    <userSettings>
        <VioletPixiv.Properties.Settings>
            <setting name="account" serializeAs="String">
                <value />
            </setting>
            <setting name="passwd" serializeAs="String">
                <value />
            </setting>
            <setting name="pictureFrameStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="previousSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Keyboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NSFW" serializeAs="String">
                <value>True</value>
            </setting>
        </VioletPixiv.Properties.Settings>
        <VioletPixiv.Properties.Settings1>
            <setting name="account" serializeAs="String">
                <value />
            </setting>
            <setting name="passwd" serializeAs="String">
                <value />
            </setting>
        </VioletPixiv.Properties.Settings1>
        <VioletPixiv.default>
            <setting name="account" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="passwd" serializeAs="String">
                <value>34</value>
            </setting>
        </VioletPixiv.default>
    </userSettings>
</configuration>
